
html
  head
    title= MyClip
    style 
      include ./style.css
    script(src='./index.js')
    script( src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js")
  body
    h1 MyClip: Simple internet clipboard
    form(method='POST' action='/' id='form')
      
      input( type='hidden' name='length' id='length')
      input( type='hidden' name='destroy' id='destroy')
      input( type='hidden' name='secret' id='secret' value= secret)
      br
      label(for='key') Name for the clip
        span=  URL + '/'
      input( value= key name="key" id="key" )

      if random
        span( class='random') Name was randomly generated, adapt to your liking


      textarea(name='value' id='value' style={display:'none'})= value
      
      
    div
      if value&&secret
        label Stored value was encrypted, data stored is #{ length} bytes
        div(class='encrypted')= value
        p You will be able to read the data the the secret you signed when stored
        input( id='__secret')
        button( id='decode') Decode
        br
      
      label(for='_value') Text to share 
      if (value)
        button(id='copy') Copy to clipboard
      br
      textarea( name='_value' id='_value' rows='20')= value
      br
    button( type='submit' id='send') Send
    input( type='checkbox' name='_destroy' id='_destroy'  )
    label(for='destroy') &nbsp;Destroy data on first view
    br
    br
    p This is hosted on glitch.me, you can inspect the code your are running for security, and also don't expect data to be alive for long, as it is not durable persisted.
    p 
      | If your are concerned about privacy you can encrypt stored text with secret:
      input(value='secret' id='_secret')

    footer Made with <a href="https://glitch.com">Glitch</a>!</footer>

    p You can also use command line to curl to store and get data:
    div(class='code') curl -X POST http://myclip.glitch.me/{key} --data "hello world"
    p If you want to post the contents of a file you can do:
    div(class='code') curl -X POST http://myclip.glitch.me/{key} --data-binary @filename
    p And to get the contents:
    div(class='code') curl http://myclip.glitch.me/{key}
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
