
html
  head
    title= title
    style 
      include ./style.css
    script(src='./index.js')
    script( src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js")
  body
    h1 Simple internet clipboard
    p This is hosted on glitch.me, you can inspect the code your are running for security, and also don't expect data to be alive for long, as it is not durable persisted.
    p Values are sent encrypted with AES with the secret value. If your are concerned about privacy you can use your onw secret key below or just remix the project on glitch to have your own version
    form(method='POST' action='/' id='form')
      label(for='destroy') Destroy data on first view
      input( type='checkbox' name='destroy' id='destroy' checked )
      input( type='hidden' name='length' id='length')
      br
      label(for='key') Name for the clip
        span https://myclip.glitch.me/
      input( value= key name="key" id="key" )

      if random
        p( class='random') Name was randomly generated, adapt to your liking


      textarea(name='value' id='value' style={display:'none'})= value
    div
      if value
        label Stored value is #{ length} bytes
        div(class='encrypted')= value
        p You will be able to read the data the the secret you signed when stored. Default value is 'secret'
      label(for='secret') Secret
      input(value='secret' id='_secret')
      
      if value
        button( id='decode') Decode
      br
      label(for='value') Text to store
      br
      textarea( name='_value' id='_value' rows='10')= value
      br
    button( type='submit' id='send') Send
        
    footer Made with <a href="https://glitch.com">Glitch</a>!</footer>


    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
